<div class="tab-pane{% if viewtab == 'rcon' %} active{% endif %}" id="rcon">
	<div class="span12">
		<pre id="rcon" class="pre-scrollable">Welcome to the Sexy Server Manager Console!

Type below to issue RCON commands!</pre>
	</div>
  <form action="{{ url_for('view_server', server=server.id) }}" method="POST">
		<div class="input-append span12">
			<input type="text" class="span10" id="address" name="address" placeholder="Command"/>
			<button class="btn" type="button">Send!</button>
		</div>
  </form>
</div>