<div class="tab-pane{% if viewtab == 'settings' %} active{% endif %}" id="settings">
  <h4>Send a Message</h4>
  <div class="input-append">
    <form class="form-inline" action="{{ url_for('view_server', server=server.id, viewtab=viewtab) }}" method="POST">
      <input type="text" id="saytext" name="saytext" placeholder="Hello Server!" style="width:400px"/>
      <input type="hidden" name="action" value="sendmsg" />
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
  <hr />
  <h4>Alltalk</h4>
  <form class="form-inline" action="{{ url_for('view_server', server=server.id, viewtab=viewtab) }}" method="POST">
    <input type="hidden" name="action" value="alltalk" />
    <div class="btn-group">
      <button type="submit" name="enable" class="btn btn-success">Enable</button>
      <button type="submit" name="disable" class="btn btn-danger">Disable</button>
    </div>
  </form>
  <hr />
  <h4>Change the Map</h4>
  <div class="input-append">
    <input id="mapsearch" type="text" data-provide="typeahead">
    <div class="btn-group">
      <button id="setnext" class="btn btn-info" type="button">Set Next Map</button>
      <button class="btn dropdown-toggle btn-info" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
      <ul class="dropdown-menu">
        <li><a href="#" id="changenow">Change Map Now!</a></li>
      </ul>
    </div>
  </div>
  <hr/>
  <h4>Server Password</h4>
  <div class="input-append">
    <form class="form-inline" action="{{ url_for('view_server', server=server.id, viewtab=viewtab) }}" method="POST">
      <input type="hidden" name="action" value="changepass" />
      <input id="srvpass" name="srvpass" type="text" placeholder="No Password">
      <button type="submit" id="setpass" class="btn btn-primary">Set Password</button>
    </form>
  </div>
  </div>
  <h4>Change Server Mode</h4>

</div>
