{% extends "layout-two-col.html" %}
{% block left %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">
        Servers
    </li>
    <li {% if request.path == url_for('servers') %}class="active"{% endif %}>
      <a href="{{ url_for('servers') }}">
        <i class="icon-list {% if request.path == url_for('servers') %}icon-white{% endif %}"></i>
        Server List
      </a>
    </li>
    {% if session.user_admin %}
    <li {% if request.path == url_for('add_server') %}class="active"{% endif %}>
      <a href="{{ url_for('add_server') }}">
        <i class="icon-plus-sign {% if request.path == url_for('add_server') %}icon-white{% endif %}"></i>
        Add Server
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
{% block main %}
  {% if not servers %}
    <div class="hero-unit">
      <h3>No Servers. <small>Would you like to <a href="{{ url_for('add_server') }}">add one</a>?</small></h3>
    </div>
  {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Players</th>
          <th>Name</th>
          <th>Type</th>
          <th style="text-align:center">Restart</th>
          {% if session.user_admin %}
          <th style="text-align:center">Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for server in servers %}
        <tr>
          {% with players = server.get_players() %}
          <td>{{ players }}</td>
          <td><a href="{{ url_for('view_server', server=server.id, viewtab='info')}}">{{ server.name }}</a></td>
          <td>{{ server.game_type }}</td>
          <td style="text-align:center">
            {% if server.is_restarting %}
            <div class="btn btn-mini btn-success disabled show-tooltip restarting-{{ server.id }}" data-original-title="Server is being restarted." data-content="If you wern't the one who restarted it, refresh this page, it'll be back soon!">
              <img src="{{ url_for('static', filename='img/loading_green.gif') }}" alt="Loading..." />
            </div>
            {% elif players == "??" %}
            <!-- This server is down. Don't allow a restart. It won't work. -->
            <div class="btn btn-mini disabled show-tooltip" data-original-title="Can't Restart" data-content="This server is not running. Start it and you'll be able to restart it here!">
              <i class="icon-refresh"></i>
            </div>
            {% else %}
            <a id='restart-{{ server.id }}' class="btn btn-mini btn-info restart" href="restart/{{ server.id }}">
              <i class="icon-refresh icon-white"></i>
            </a>
            {% endif %}
          </td>
          {% if session.user_admin %}
          <td style="text-align:center">
            {% if lock %}
            <div class="btn btn-mini btn-warning disabled show-tooltip" href="delete/{{ server.id }}" data-original-title="Removal Disabled" data-content="Removal of servers has been disabled in your settings.cfg. Enable it there to delete servers.">
              <i class="icon-remove icon-white"></i>
            </div>
            {% else %}
            <a id='delete-{{ server.id }}' class="btn btn-mini btn-warning delete" href="delete/{{ server.id }}">
              <i class="icon-remove icon-white"></i>
            </a>
            {% endif %}
          </td>
          {% endif %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  // Precache loading img
  tempImg = new Image();
  tempImg.src = "{{ url_for('static', filename='img/loading_green.gif') }}";
  function checkserver(myid, element) {
    $.ajax({
      type: 'post',
      url: '{{ url_for('restart_status', _external=True) }}',
      data: 'serverid=' + myid,
      success: function(data) {
        element.replaceWith('<a id="restart-' + myid  + '" href="restart/' + myid + '" class="btn btn-mini btn-info restart"><i class="icon-refresh icon-white"></i></a>');
      },
      error: function(data) {
        window.setTimeout(function() { checkserver(myid, element); }, 3000);
      }
    });
  }
  $(function() {
    $('.server-check').live("click", function(e) {
      e.preventDefault();
      var me = $(this);
      me.removeClass('restart btn-info').addClass('btn-danger confirm-restart').text('Sure?')
      window.setTimeout(function() {
        if (me.hasClass('confirm-restart')) {
          me.removeClass('confirm-restart btn-danger').addClass('btn-info restart').html('<i class="icon-refresh icon-white"></i>');
        }
      }, 5000);
    });
    $('.restart').live("click", function(e) {
      e.preventDefault();
      var me = $(this);
      me.removeClass('restart btn-info').addClass('btn-danger confirm-restart').text('Sure?')
      window.setTimeout(function() {
        if (me.hasClass('confirm-restart')) {
          me.removeClass('confirm-restart btn-danger').addClass('btn-info restart').html('<i class="icon-refresh icon-white"></i>');
        }
      }, 5000);
    });
    $('.confirm-restart').live("click", function(e) {
      e.preventDefault();
      var me = $(this);
      var parent = $(this).parent();
      var myid = $(this).attr('id').replace('restart-', '');
      // This will override the confirm restart above!
      me.replaceWith('<div id="restarting-' + myid + '" class="btn btn-mini btn-success disabled" data-original-title="Server is being restarted." data-content="If you wern\'t the one who restarted it, refresh this page, it\'ll be back soon!"><img src="{{ url_for('static', filename='img/loading_green.gif') }}" alt="Loading..." /></div>');
      $.ajax({
        type: 'post',
        url: '{{ url_for('restart_server', _external=True) }}',
        data: 'serverid=' + myid,
        success: function() {
          //parent.children().first().replaceWith('<a id="restart-' + myid  + '" href="restart/' + myid + '" class="btn btn-mini btn-info restart"><i class="icon-refresh icon-white"></i></a>');
          checkserver(myid, parent.children().first());
        }
      });
    });
    $('.show-tooltip').popover({placement:'left'});
    $('a.delete').click(function(e) {
      e.preventDefault();
      var me = $(this);
      var parent = $(this).parent().parent();
      if ($(this).hasClass('delete')) {
        $(this).removeClass('delete btn-warning').addClass('btn-danger confirm-delete').text('Sure?')
        window.setTimeout(function() { me.removeClass('confirm-delete btn-danger').addClass('btn-warning delete').html('<i class="icon-remove icon-white"></i>'); }, 5000);
      } else {
        $.ajax({
          type: 'post',
          url: '{{ url_for('delete_server', _external=True) }}',
          data: 'serverid=' + $(this).attr('id').replace('delete-', ''),
          success: function() {
            parent.remove();
          }
        });
      }
    });
  });
{% for server in servers %}
  {% if server.is_restarting %}
checkserver({{ server.id }}, $('.restarting-' + {{ server.id }}))
  {% endif %}
{% endfor %}
</script>

{% endblock %}
