{% extends "layout-two-col.html" %}
{% block left %}
test left
{% endblock %}
{% block main %}
  {% if server %}
    <h1>{{ server }}</h1>
        <ul>
        {% for player in allservers[0].get_all_players() %}
            <li>{{ player['name'] }} - {{ player['kills'] }}</li>
        {% endfor %}
        </ul>
  {% else %}
    <h1>All Servers</h1>
        <ul>
        {% for item in allservers %}
            <li><a href="{{ item.name }}">{{ item.name }} - {{ item.get_players() }}</a></li>
        {% endfor %}
        </ul>
  {% endif %}
{% endblock %}
