{% set total_path = request.script_root + request.path %}
{% extends "layout-two-col.html" %}
{% block left %}
{% if viewtab == None %}
  {% set viewtab = 'info' %}
{% endif %}
<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">
        All Servers
    </li>
    {% for aserver in servers %}
    <li {% if url_for('view_server', server=aserver.id) in total_path %}class="active"{% endif %}>
      <a href="{{ url_for('view_server', server=aserver.id, viewtab=viewtab) }}">
        {{ aserver.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block main %}
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">Kick Player [PLAYER NAME]?</h3>
    </div>
    <div class="modal-body">
      <p>DO IT!</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-warning">Kick Player</button>
    </div>
  </div>
    <div class="row-fluid">
      <div class="span12">
        <h2>{{ server.name }} <small>{{ server.game_type }}</small></h2>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="{% if viewtab == 'info' %}active{% endif %}"><a href="{{ url_for('view_server', server=server.id, viewtab='info') }}">Info</a></li>
            <li class="{% if viewtab == 'settings' %}active{% endif %}"><a href="{{ url_for('view_server', server=server.id, viewtab='settings') }}">Settings</a></li>
            {% if g.user.admin %}
            <li class="{% if viewtab == 'rcon' %}active{% endif %}"><a href="{{ url_for('view_server', server=server.id, viewtab='rcon') }}">RCON</a></li>
            <li class="{% if viewtab == 'edit' %}active{% endif %}"><a href="{{ url_for('view_server', server=server.id, viewtab='edit') }}">Edit</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            {% include "servers/%s.html" % viewtab %}
          </div>
        </div>
     </div>
  </div>

{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
<script type="text/javascript">
  $(function() {
    $('a.restart').click(function(e) {
      e.preventDefault();
      var me = $(this)
      var parent = $(this).parent().parent();
      if ($(this).hasClass('restart')) {
        $(this).removeClass('restart btn-info').addClass('btn-danger confirm-restart').text('Sure?')
        window.setTimeout(function() { me.removeClass('confirm-restart btn-danger').addClass('btn-info restart').html('<i class="icon-refresh icon-white"></i>'); }, 5000);
      } else {
        me.replaceWith('<div class="btn btn-mini btn-success disabled">Restarting</i></div>');
        $.ajax({
          type: 'post',
          url: '{{ url_for('restart_server', _external=True) }}',
          data: 'serverid=' + $(this).attr('id').replace('restart-', ''),
          success: function() {
            alert('success');
          }
        });
      }
    });
    $('.show-tooltip').popover({placement:'left'});
    $('a.delete').click(function(e) {
      e.preventDefault();
      var me = $(this)
      var parent = $(this).parent().parent();
      if ($(this).hasClass('delete')) {
        $(this).removeClass('delete btn-warning').addClass('btn-danger confirm-delete').text('Sure?')
        window.setTimeout(function() { me.removeClass('confirm-delete btn-danger').addClass('btn-warning delete').html('<i class="icon-remove icon-white"></i>'); }, 5000);
      } else {
        $.ajax({
          type: 'post',
          url: '{{ url_for('delete_server', _external=True) }}',
          data: 'serverid=' + $(this).attr('id').replace('delete-', ''),
          success: function() {
            parent.remove();
          }
        });
      }
    });
    function do_rcon() {
      if ($("#cmd").val() == "") {
        $("#results").append("\n");
        $("#results").scrollTop($("#results")[0].scrollHeight);
        return false;
      }
      if ($("#cmd").val() == "clr") {
        $("#results").text(" ");
        $("#cmd").val("");
        return false;
      }

      var url = "{{ url_for('issue_rcon', _external=True) }}";
      FernFerret.hist.unshift($("#cmd").val())
      if (FernFerret.hist.length > 50) {
        FernFerret.hist.pop()
      }
      $.ajax({
        type: "POST",
        url: url,
        data: $("#rconform").serialize(),
        success: function(data)
        {
          if (data == "") {
            data="<span class='text-error'>Error contacting server.</span>"
          }
          $("#results").append("\n" + data);
          $("#results").scrollTop($("#results")[0].scrollHeight);
        }
      });
      $("#cmd").val("");
    }
    var FernFerret = {}
    FernFerret.hist = new Array();
    FernFerret.pos = -1;
    $("#cmd").keydown(function(e){
      if (e.keyCode == 38) {
        // Up
        FernFerret.pos += 1;
        if (FernFerret.pos < FernFerret.hist.length) {
          $("#cmd").val(FernFerret.hist[FernFerret.pos]);
        } else {
          FernFerret.pos -= 1;
        }
         return false;
      }

      if (e.keyCode == 40) {
        // Down
        FernFerret.pos -= 1;
        if (FernFerret.pos >= 0) {
          $("#cmd").val(FernFerret.hist[FernFerret.pos]);
        } else if (FernFerret.pos == -1) {
          // Special case to clear it out.
          $("#cmd").val("");
        } else {
          FernFerret.pos += 1;
        }
         return false;
      }
    });
    $("#cmd").keypress(function (evt) {
      FernFerret.pos = -1;
      //Deterime where our character code is coming from within the event
      var charCode = evt.charCode || evt.keyCode;

      if (charCode == 13) { //Enter key's keycode
        do_rcon();
        return false;
      }
    });
    $("#submitrcon").click(function() {
      FernFerret.pos = -1;
      do_rcon();
      return false; // avoid to execute the actual submit of the form.
    });
    $("#hideside").click(function() {
      $("#sidebar").toggleClass('span3');
      $("#sidebar").toggle();
      $("#maincontent").toggleClass('span9').toggleClass('span12');
    });
    $("#bigger").click(function() {
      $("#results").animate({height: "+=40", "max-height": "+=40"}, 200);
    });
    $("#smaller").click(function() {
      $("#results").animate({height: "-=40", "max-height": "-=40"}, 200);
    });
    $("#mapsearch").typeahead({
      minLength: 2,
      source: function(query, process) {
        $.post("{{ url_for('list_maps', serverid=server.id, _external=True) }}", { q: query, limit: 8 }, function(data) {
          process(JSON.parse(data));
        });
      }
      // updater: function (item) {
      //   $.post("{{ url_for('issue_rcon_better', serverid=server.id, _external=True) }}", { cmd: "changelevel " + item }, function(data) {
      //     alert(data);
      //   });
      //   return item;
      // }
    });
    $("#setnext").click(function() {
      $.post("{{ url_for('issue_rcon_better', serverid=server.id, _external=True) }}", { cmd: "nextlevel " + $("#mapsearch").val() }, function(data) {
        $('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>Set the <strong>next</strong> map to <strong>' + $("#mapsearch").val() + '</strong>!</div>').fadeIn().appendTo("#globalmsgs");
      });
    });
    $("#changenow").click(function() {
      $.post("{{ url_for('issue_rcon_better', serverid=server.id, _external=True) }}", { cmd: "changelevel " + $("#mapsearch").val() }, function(data) {
        $('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a>Map changing to <strong>' + $("#mapsearch").val() + '</strong>!</div>').fadeIn().appendTo("#globalmsgs");
      });
    });
  });
</script>
{% endblock %}
